#root {
  margin: 0;
  padding: 0;
}

/* Reusable button */
.btn {
  padding: 10px;
  border-radius: 999px;
  background: rgba(255, 105, 180, 0.8);
  color: white;
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s;
}

.btn:hover {
  opacity: 0.85;
}

/* Smooth scroll for mobile panel */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3);
  border-radius: 10px;
}